* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: #111;
  background: #fff;
}


.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 48px;
  height: 84px;
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  height: 46px;
}
.menu {
  list-style: none;
  display: flex;
  gap: 32px;
}
.menu li a {
  
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #111;
}
.menu li a:hover {
  color: #2f7f52;
}
 a{
  text-decoration: none;
  
}
.btn {
  background: #2f7f52;
  color: #fff;
  padding: 12px 18px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
   align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #276a44;
}
  
